.darkmode {
    background-color: #070707;
    color: white;
  }

* {
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Switzer', sans-serif !important;
    transition: background-color .5s, color .5s;

    padding: 1rem;
    margin: 1rem;
}

p, h1, h2, h3, a {
    font-family: 'Jetbrains Mono', sans-serif !important;
 }

 h1 {
    font-family: "Switzer", sans-serif !important;
    font-style: normal;
    font-weight:600;
    background-color: color;
    color: 070707;
    padding: 0;
 } 

 h2 {
    font-style: normal;
    font-weight: 600;
  
    color: #989898;
 }

 h3 {
    font-style: normal;
    font-weight: 500;
    
    color: #393939;
 }

 p {
    font-family: 'JetBrains Mono', sans-serif !important;
    font-kerning: auto;
    font-style: normal;
    font-weight: normal;
    
    color: #6A6A6A;
    
 }

 .lock-up {
    display: flex;
    justify-content: flex-end;
    
 }

 .logo-btn {
    /* get rid of button styling */
    background-color: none;
    border-style: none;
    border: none;
    background-color: transparent;
}

.logo-img {
    width: 75px;
    height: auto;

}

a {
    
    font-style: italic;
    font-weight: 300;
    text-decoration: none;
    color: #393939;
    font-style: normal;

}

a:hover {
    font-style: italic;
    font-weight: 300;
    color: #E700FF;
    text-decoration: none;
    font-style: normal;
}





.social-links, .portfolio-links, .contact-links {
    padding-right: 2.4rem;
}


.links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media (max-width: 500px) {
    .links {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;    
    }
}

@media (max-width: 500px) {
    .case-studies {
        display: flex !important;
        justify-content: flex-start !important;
        flex-direction: column !important;
    }
}

.line {
    display: flex;
    justify-content: flex-start;
    align-self: auto;
    align-items: left;
    text-align: left;
    border: .25px solid #393939;
    
}

/* Case Studies part */

.case-studies {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.case-study-item {
}

.case-study-thumbnail {
    width: 300px;
    height: auto;
}

.case-study-title {
    font-weight: bold;
    color: #989898;
    font-size: 1.25rem;
}

.cs-short-bio {
    font-size: .75rem;
    color: #242424;
}
/* recent logo part */

.recent-logos-resp {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.recent-logos {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.recent-logo-item {
      padding: 1rem;
    
}

.logo-thumbnail {
    width: 600px;
    height: auto;
}